.header {
  background-color: #2C323C;
  color: white;
  min-height: 60px;
  padding: 90px 20px;
  padding-bottom: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 3rem;
}